<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>Klout Feed</title>
<meta name="description" content="Enter your Klout username and API key to get an RSS feed for your daily Klout Score.">
<link href="/normalize.css" rel="stylesheet">
<link href="/stylesheet.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>
$(function() {
    $('form').submit(function() {
        var data = {username: this.username.value, api_key: this.api_key.value};
        $('#message').html('<img src="loading-small.gif">').load('/ #message', data);
        return false;
    });
});
</script>
</head>
<body>
<div id="main">

<h1><a href="/">Klout Feed</a></h1>

<div class="panel">
    <p>
        Enter your <a href="http://klout.com">Klout</a> username and
        API key to get an RSS feed for your daily Klout Score.
    </p>
    <form method="post">
        <label for="username">Username:</label>
        <label for="key">API Key:</label>
        <input type="text" name="username" id="username" value="<%= params[:username] %>">
        <input type="text" name="api_key" id="api_key" value="<%= params[:api_key] %>">
        <input type="submit" value="Get Feed">
        <br clear="both">
    </form>
    <div id="message">
        <% if request.post? %>
        <p class="message<% if !@success %> error<% end %>">
            <%
            if @success
                feed_url = "#{request.url}feed/#{params[:api_key]}/#{params[:username]}.xml"
            %>
            Your Klout RSS feed URL: <a href="<%= feed_url %>"><%= feed_url %></a>
            <% else  %>
            Error: <%= @error %>
            <% end %>
        </p>
        <% end %>
    </div>
</div>

<footer>
    <span>Created by <a href="http://twitter.com/stephen_mcd">Stephen McDonald</a>.</span>
    <span><a href="https://github.com/stephenmcd/klout-feed">Open source</a>.</span>
    <span>Klout Feed is not affiliated with <a href="http://klout.com">Klout</a>.</span>
</footer>

</div>
</body>
</html>
